*{
    margin: 0;
    bottom: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 231);
    /* background: url("../img/battleship.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}
h1{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
header{
    margin-top: 100px;
}
main{
    flex-grow: 1;

}
.container{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    gap: 100px;
    padding: 30px;
    /* background-color: rgb(0, 0, 0, 0.6); */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.gameBoard{
    border: 1px solid black;
    width: 309;
    display: grid;
    grid-template-columns: repeat(10, 1fr)
}
.cell{
    width: 30px;
    height: 30px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.missed-hit{
    background-color: yellow;
}
footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    gap: 10px;
 
}